{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>ASCENDO</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"/>
  <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css"
        integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
        integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

<div class="container">
  <!-- Top box -->
  <!-- Logo & Site Name -->
  <div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
      <div class="tm-header">
        <div class="row tm-header-inner no-p" style="width: 99%;">
          <div class="col-md-6 col-12 no-p">
            <img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo"/>
            <div class="tm-site-text-box">
              <h1 class="tm-site-title">ACM-ASCENDO</h1>
              <h6 class="tm-site-description">Valorant Tournament</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <main>
    <header class="row tm-welcome-section">
      <h2 class="col-12 text-center tm-section-title">Welcome to the ASCENDO-VALORANT</h2>
      <p class="col-12 text-center">To all the gamers out there, ACM TKMCE challenges you in its Valo tournament
        conducted as part of the ASCENDO! fest.
        <br>
        Get ready to Stand Tall. Be the Valorants, be the fighters.
      </p>
    </header>
    {% if finals %}
      <h2 class="tit col-12 text-center tm-section-title">Finals</h2>
      <div class="schedules">
        {% for final in finals %}
          <p style="color: #999;padding:5px; ">{{ final.date }}</p>
          <div class="schedule gold">
            <div class="team">
              <img src="{{ final.team1.logo }}" class="logo">
              <b>{{ final.team1.name }}</b>
              {% if final.winner == 1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
            <span class="vs">Vs</span>
            <div class="team">
              <b>{{ final.team2.name }}</b>
              <img src="{{ final.team2.logo }}" class="logo">
              {% if final.winner == -1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
      <hr style="margin: 15px;">
    {% endif %}

    {% if semi_finals %}
      <h2 class="tit col-12 text-center tm-section-title">Semi finals</h2>
      <div class="schedules">
        {% for final in semi_finals %}
          <p style="color: #999;padding:5px; ">{{ final.date }}</p>
          <div class="schedule silver">
            <div class="team">
              <img src="{{ final.team1.logo }}" class="logo">
              <b>{{ final.team1.name }}</b>
              {% if final.winner == 1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
            <span class="vs">Vs</span>
            <div class="team">
              <b>{{ final.team2.name }}</b>
              <img src="{{ final.team2.logo }}" class="logo">
              {% if final.winner == -1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
      <hr style="margin: 15px;">
    {% endif %}

    {% if qrtrs %}
      <h2 class="tit col-12 text-center tm-section-title">Quarters</h2>
      <div class="schedules">
        {% for final in qrtrs %}
          <p style="color: #999;padding:5px; ">{{ final.date }}</p>
          <div class="schedule silver">
            <div class="team">
              <img src="{{ final.team1.logo }}" class="logo">
              <b>{{ final.team1.name }}</b>
              {% if final.winner == 1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
            <span class="vs">Vs</span>
            <div class="team">
              <b>{{ final.team2.name }}</b>
              <img src="{{ final.team2.logo }}" class="logo">
              {% if final.winner == -1 %}
                <i class="win fas fa-check-square"></i>
              {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
      <hr style="margin: 15px;">
    {% endif %}

    <h2 class="tit col-12 text-center tm-section-title">Prelims</h2>
    <div class="schedules">
      {% for final in prelims %}
        <p style="color: #999;padding:5px; ">{{ final.date }}</p>
        <div class="schedule silver">
          <div class="team">
            <img src="{{ final.team1.logo }}" class="logo">
            <b>{{ final.team1.name }}</b>
            {% if final.winner == 1 %}
              <i class="win fas fa-check-square"></i>
            {% endif %}
          </div>
          <span class="vs">Vs</span>
          <div class="team">
            <b>{{ final.team2.name }}</b>
            <img src="{{ final.team2.logo }}" class="logo">
            {% if final.winner == -1 %}
              <i class="win fas fa-check-square"></i>
            {% endif %}
          </div>
        </div>
        <br>
      {% endfor %}
    </div>

    <footer class="tm-footer text-center">
      <p>Copyright &copy; ASCENDO 2021

        | <a rel="nofollow" href="#">ACM tech team</a></p>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script>
      $(document).ready(function () {
        // Handle click on paging links
        $('.tm-paging-link').click(function (e) {
          e.preventDefault();

          var page = $(this).text().toLowerCase();
          $('.tm-gallery-page').addClass('hidden');
          $('#tm-gallery-page-' + page).removeClass('hidden');
          $('.tm-paging-link').removeClass('active');
          $(this).addClass("active");
        });
      });
    </script>
</body>
</html>
